<div class="inner-body">
  <h3>Settings</h3>
    <%= link_to '<i class="fas fa-arrow-alt-circle-left"></i>'.html_safe, :back%>
    <%= link_to "Back", :back %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          User information
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="frame-image">
                <% if current_student.avatar.attached? %>
                <%= image_tag current_student.avatar_thumbnail,class:"imagee"%>
                <% else %>
                <img class="imagee" src="../../assets/adefault.svg">
                <% end %>
              </div>
              <div class="css-1hwiqm">
                <%= f.file_field :avatar, class: 'browser-image'%>
              </div>
              </div>
              <div class="col-md-8">
                <div class="field">
                  <%= f.label :name, class: 'form-label' %>
                  <%= f.text_field :name,class: 'form-control',  autocomplete: "name" %>
                </div>
                <div class="field">
                  <%= f.label :email, class: 'form-label' %>
                  <%= f.email_field :email,class: 'form-control', autocomplete: "email" %>
                </div>
              </div>
            </div>
            <div class="css-179lkzd">Connect to Bitmoji</div>
            <div class="row">
              <div class="col-md-2">
                <img src="../../assets/icedit.svg" width="46px"height="46px" style="margin-left: 12px">
              </div>
              <div class="col-md-10">
                <span>Connect to Bitmoji to use it as your Kahoot! profile picture and add a personal touch to your experience.<a class="user-info-section__SectionLink-gay60e-3 csINrF">Connect to Bitmoji</a></span>
              </div>
            </div>
            <div class="css-179lkzd">Verified educator</div>
            <div class="row">
              <div class="col-md-2">
                <img src="../../assets/user.svg" width="46px"height="46px" style="margin-left: 12px">
              </div>
              <div class="col-md-10">
                <span>Your application to become a Verified educator on Kahoot! Academy is saved as a draft. Complete!<a class="user-info-section__SectionLink-gay60e-3 csINrF">Complete application</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Account details
          </div>
          <div class="card-body">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="col">
              <div class="field">
                <%= f.label :password,class: 'form-label' %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password" ,class: 'form-control'%>
                <% if @minimum_password_length %>
                <% end %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation,class: 'form-label' %>
                <%= f.password_field :password_confirmation,class: 'form-control', autocomplete: "new-password" %>
              </div>
              <div class="field">
                <%= f.label :current_password,class: 'form-label' %> <i>(we need your current password to confirm your changes)</i>
                <%= f.password_field :current_password,class: 'form-control', autocomplete: "current-password" %>
              </div>
              <div class="actions">
                <%= f.submit "Update", class:"btn btn-secondary btn-block" %>
              </div>
            </div>
            <div class="css-179lkzdr"><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style:"color: red;" %></div>
            <span style="padding-left: 20px;">If you do this, you will lose access to all the kahoots you created.</span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
