<%= javascript_pack_tag 'quantity', 'data-turbolinks-track': 'reload' %>
<div class="han">
  <div class="col4">
    <div class="pa">
      <div class="">
        <img class="card-img-top" src="https://www.gettyimages.in/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" alt="">
      </div>
      <div class="pacover">
        <div class="fEDjiT">
          <div class="infor"><%= @course.title %></div>
        </div>
        <ul class="iHcOFk">
          <li class="gqLYar"><b>9.6k </b>favorites</li>
          <li class="gqLYar"><b>143.5 </b>plays</li>
          <li class="gqLYar"><b>937.4 </b>players</li>
        </ul>
        <div class="des">Select the number of questions you want to test</div>
        <div class="quantity">
          <div class="sub">
            <input class="bora" type="button" value="-" id="subs"/>
          </div>
          <div class="oinput">
            <input id="numOFques" value="1" class="form-control" type="text">
          </div>
          <div class="add">
            <input class="bora" type="button" value="+" id="adds"/>
          </div>
        </div>
        <div class="hRbplL">
          <div class="playtet">
            <%= link_to 'Back', courses_path, class:"btn btn-secondary btn-block"%>
          </div>
          <div class="playtet">
            <%= hidden_field :nqOFc, id:'nqOFc', value: @course.questions.count %>
            <%= link_to 'Play', new_test_path(course_id: @course.id), class:"btn btn-danger btn-block"%>
          </div>
          <div aria-expanded="false">
            <div class="actions__ShareWrapper-ysm04w-2 kSUIVA">
              <span class="fpITzr" style="display: inline-block; vertical-align: middle; width: 32px; height: 32px;">
                <svg id="share-kahoot" data-functional-selector="share-button" viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0">
                  <path style="fill: rgb(110, 110, 110);" d="M21,24 C19.896,24 19,23.104 19,22 C19,20.896 19.896,20 21,20 C22.104,20 23,20.896 23,22 C23,23.104 22.104,24 21,24 M9,18 C7.896,18 7,17.104 7,16 C7,14.896 7.896,14 9,14 C10.104,14 11,14.896 11,16 C11,17.104 10.104,18 9,18 M21,8 C22.104,8 23,8.896 23,10 C23,11.104 22.104,12 21,12 C19.896,12 19,11.104 19,10 C19,8.896 19.896,8 21,8 M21,18 C19.8,18 18.734,18.542 18,19.382 L12.909,16.836 C12.967,16.566 13,16.287 13,16 C13,15.713 12.967,15.434 12.909,15.164 L18,12.618 C18.734,13.458 19.8,14 21,14 C23.206,14 25,12.206 25,10 C25,7.794 23.206,6 21,6 C18.794,6 17,7.794 17,10 C17,10.287 17.033,10.566 17.091,10.836 L12,13.382 C11.266,12.542 10.2,12 9,12 C6.794,12 5,13.794 5,16 C5,18.206 6.794,20 9,20 C10.2,20 11.266,19.458 12,18.618 L17.091,21.164 C17.033,21.434 17,21.713 17,22 C17,24.206 18.794,26 21,26 C23.206,26 25,24.206 25,22 C25,19.794 23.206,18 21,18">
                  </path>
                </svg>
              </span>
            </div>
          </div>
          <div class="css-y66n2r">
            <span aria-expanded="false">
              <span class="icon__Icon-xvsbpg-0 fpITzr" style="display: inline-block; vertical-align: middle; width: 32px; height: 32px;">
                <svg id="favorite" data-functional-selector="icon" viewBox="0 0 32 32" focusable="false" stroke="none" stroke-width="0">
                  <path style="fill: unset;" d="M26.9667277,12.3896591 C27.2256479,12.411986 27.4657062,12.5342334 27.6360473,12.7305039 C27.9980468,13.1476068 27.9533765,13.7791941 27.5362736,14.1411935 L22.0538904,18.8992985 L23.6929324,25.9682956 C23.751701,26.2217575 23.7093679,26.488145 23.5749207,26.710902 C23.2895358,27.183738 22.6748763,27.3356972 22.2020403,27.0503124 L15.9872238,23.2992985 L9.77622335,27.0480091 C9.55306656,27.1826976 9.28613973,27.2249318 9.03230252,27.1657152 C8.49445923,27.0402439 8.16016565,26.5025212 8.28563692,25.9646779 L9.93389043,18.8992985 L4.44528483,14.1445175 C4.24826151,13.9738361 4.12567319,13.7329675 4.10363686,13.4732278 C4.05694871,12.92292 4.4652131,12.4389591 5.01552089,12.392271 L12.2405571,11.7792985 L15.0672007,5.11002917 C15.1684118,4.87122854 15.3584445,4.68109269 15.5971902,4.57975201 C16.1055716,4.36395868 16.6926313,4.6011482 16.9084246,5.10952964 L19.7338904,11.7659652 L26.9667277,12.3896591 Z M15.9872238,20.8059652 L21.0138904,23.8459652 L19.6805571,18.1392985 L24.1072238,14.2992985 L18.2672238,13.7926319 L15.9872238,8.40596519 L13.7205571,13.7792985 L7.8805571,14.2859652 L12.3072238,18.1259652 L10.9738904,23.8326319 L15.9872238,20.8059652 Z">
                  </path>
                </svg>
              </span>
            </span>
          </div>
        </div>

        <div class="des">
          <div class="infor"><span><%= @course.description %></span></div>
        </div>
        <span> Created <%= time_ago_in_words(@course.created_at) %> ago.</span>
      </div>
    </div>
  </div>
  <div class="col8">
    <div class="pbp">Questions (<%=@course.questions.count%>)</div>
    <% @questions.each.with_index(1) do |question, index|%>
    <div class="pb">
      <div class=""><%=index%>- Quiz</div>
      <div class="fXyePK"><%= question.title %></div>
    </div>
    <%end%>
  </div>
</div>
