<p id="notice"><%= notice %></p>
<h1>Courses</h1>
<%= link_to 'New Course', new_admin_course_path %>
<div class="container">
  <div class="row">
    <% @courses.each do |course| %>
    <div class="col-md-3">
      <div class="card mt-5">
        <div class="card-header">
          <%= course.title%>
        </div>
        <div class="card-body">
          <%= image_tag course.img_course,class:"imgc" if course.img_course.attached?%>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', admin_course_path(course) %>
          <%= link_to 'Edit', edit_admin_course_path(course) %>
          <%= link_to 'Destroy', admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
      <% end %>
    </div>
  </div>
